<h2><%= @planet.name %></h2>
<%= image_tag @planet.image %>
<ul>
  <li>Orbit: <%= @planet.orbit %></li>
  <li>Diameter: <%= @planet.diameter %></li>
  <li>Mass: <%= @planet.mass %></li>
  <li>Moons: <%= @planet.moons %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit planet', planet_edit_path(@planet.id) %>
  <%= button_to 'Delete planet', planet_delete_path(@planet.id) %>
</div>
