<h1><%= @artist.name %></h1>
<%= image_tag @artist.image, :class => 'feature' %>
<ul>
  <li><%= @artist.nationality %></li>
  <li><%= @artist.dob.strftime '%A %B %e, %Y' if @artist.dob %></li>
  <li><%= @artist.period %></li>
</ul>

<% @artist.works.each do |work| %>
  <%= link_to image_tag(work.image, :class => :thumb), work %>
<% end %>

<div class="controls">
  <!-- This is morally wrong -->
  <%= link_to 'Edit', edit_artist_path(@artist) %>
  <%= link_to 'Delete', @artist, :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>
