<h1>Edit Butterfly</h1>
<form action="/butterflies/<%= @butterfly['id'] %>" method="post">
  <input type="text" name="name" placeholder="Name" value="<%= @butterfly['name'] %>">
  <input type="text" name="family" placeholder="Family" value="<%= @butterfly['family'] %>">
  <input type="url" name="image" placeholder="Image" value="<%= @butterfly['image'] %>">
  <select name="plant_id" id="">
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
    <% end %>
  </select>
  <button>Update butterfly</button>
</form>
