<h1>Login <span class="glyphicon glyphicon-send"></span></h1>
<%= form_tag '/login', :class => 'form-inline' do %>
  <div class="form-group">
    <%= label_tag :email, nil, :autofocus => true %>
    <%= text_field_tag :email, nil, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :class => 'form-control' %>
  </div>
  <%= submit_tag 'Login', :class => 'btn btn-success' %>
<% end %>
